*{
    margin: 0px;
    padding: 0px;
}

section{
    width: 200px;
    height: 200px;
    background-color: aliceblue;
    margin: 50px;
    perspective: 150px;
    /* perspective-origin: 150px; */
}

.box{
    width: 100px;
    height: 100px;
    background-color: coral;
}

.box1:hover{
    transform-origin: left top;
    transform:scaleX(1.2);
}

.box2:hover{
    transform-origin: right bottom;
    transform:scaleY(0.5);
}

.box3:hover{
    transform-origin: right top;
    transform:scale(1.5, 0.8);
}